@charset "UTF-8";
/* CSS Document */
/*80vh-viewport height*/
/*if you want a different look in each header on the different pages, then use an ID rather than just header*/
#homeMasthead{
	/*background-color:#179AA8;*/
	background-image: url("../images/backgrounds/Convocation-mobile.jpg");
	/*make sure the whole element is coverd and stop tiling*/
	background-size: cover;
	/*prioritizes a certain part of the picture to be shown*/
	background-position: center;
}
#serviceMasthead{
	background-image: url("../images/backgrounds/Cat.jpeg");
	background-size: cover;
	background-position: right;
}
/*set the default font size- MOBILE FIRST*/
/*overriding a BS4 class with your own style*/
.display-1{
	font-size: 32pt;
}

h2{
	color: black;
}
.bg-dark{
	backgorund-color: blue !important;
}
/*class to define the hsight of any element it is added to*/
.height80{
	height:80vh;
}
footer{
	background-color: deepskyblue;
	padding-top: 100px;
	padding-bottom: 100px;
	color:antiquewhite;
}
a{
	color:aquamarine;
}
a:link, a:visited{
	color:#BDC6DO;
}
a:hover{
	color:#BDC6DO;
}
/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
.display-1{
	font-size: 60pt;
}
/*close smaller query*/

/* Medium devices*/
@media only screen and (min-width: 768px) {
	#homeMasthead{
		background-color: deepskyblue;
		background-image: url("../images/backgrounds/CatVer.jpeg");
	}
	.display-1{
		font-size: 60pt;
	}	
}/*this closes the medium

