@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Open+Sans:wght@700&family=Oregano&family=Poppins:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Marhey:wght@300;700&family=Open+Sans:wght@700&family=Oregano&family=Poppins:wght@200;600&display=swap');
nav{
	justify-content: space-around;
	align-items: center;
	min-height: 5vh;
}
header{
    background-color:mediumturquoise;
	font-family: 'Marhey', cursive;
}

body{
	background-image:url("../images/BH.jpg");
	font-family: 'Marhey', cursive;
}
	
footer{
	background-color:teal;
	font-family: 'Marhey', cursive;
}



















